#contenedorProductos,
.flex {
    display: flex;
    margin: 0 5px;
    margin-left: 2em;
    margin-bottom: 1em;
    justify-content: space-between;
}

#contenedorCarrito {
    margin: 30px;
    padding: 20px;
    border: 3px solid #6d2b90;
    font-size: 20px;
}

#logo {
    
    margin: auto;
    background-color: #6d2b90;
    display: flex;
    justify-content: center;
    border-color: black;
    margin-bottom: 1em;
}

#imagen {
    height: 250px;
    width: 400px;
}
.contenedor-carrito {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#vaciarCarrito {
  margin: 30px;
  
}
.boton-carrito{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    float: inline-end;

}
.boton-carrito .img {
    margin: 1em;

}
.img-carrito {
    margin: 1em;
}

p {
    margin: 5px;
}

.update-cart{
    height: 20px;

}
.logonav {
    width: 50px;
    height: 50px;
}
.search {
	margin-right: 40px;
    float: inline-end;
}


.chg-quantity {
    height: 20px;
    cursor: pointer;
    display: block;
    margin-bottom: 5px;
    transition: .1s;
}

.chg-quantity:hover {
    opacity: .6;
}

.chg-quantity-2 {
    height: 20px;
    cursor: pointer;
    display: block;
    margin-bottom: 5px;
    transition: .1s;
}

.chg-quantity-2:hover {
    opacity: .6;
}
.chg-quantity-3 {
    height: 20px;
    cursor: pointer;
    display: block;
    transition: .1s;
    margin-bottom: 5px;
}

.chg-quantity-3:hover {
    opacity: .6;
}

.hidden {
	display: none !important;
}