#contenedorProductos,
.flex {
    display: flex;
    margin: 0 5px;
    margin-left: 2em;
    margin-bottom: 1em;
}

#contenedorCarrito {
    width: 400px;
    min-height: 200px;
    border: 3px solid #6d2b90;
    margin-bottom: 1em;
    font-size: 20px;
    margin-left: 37em;
}

#logo {
    margin: auto;
    background-color: #6d2b90;
    display: flex;
    justify-content: center;
    border-color: black;
    margin-bottom: 1em;
}

#imagen {
    height: 250px;
    width: 400px;
}

#buscador {
    width: 200px;
    min-height: 15px;
    border: 2px solid #6d2b90;
    margin-right: 1em;

}

#botonBuscador {
    width: 80px;
    min-height: 30px;
    border-radius: 1em;
    border: 2px solid #6d2b90;
    background-color: #e7db30b6;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#vaciarCarrito {
    width: 200px;
    min-height: 30px;
    border-radius: 1em;
    border: 2px solid #6d2b90;
    background-color: #e7db30b6;
    font-size: 20px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 42em;
}

p {
    margin: 5px;
}

.producto {
    width: 350px;
    height: 450px;
    border: 5px solid #6d2b90;
    background-color: #f1e645b4;
    border-radius: 2em;
    margin: 15px;
    margin-left: 4em;
}

.producto p {
    font-size: 20px;
    font-weight: 600;
    margin-left: 1em;

}

.producto h3 {
    font-size: 25px;
    font-weight: 600;
    margin-left: 3em;
}

.producto img {
    width: 150;
    height: 200px;
    margin-left: 4em;
    margin-top: 1em;
}
.boton {
    width: 150px;
    min-height: 15px;
    border: 2px solid #6d2b90;
    border-radius: 1em;
    margin-left: 7em;
    margin-top: 2em;
}
.update-cart{
    height: 20px;

}